*{
    margin: 0;
    padding: 0;
}
#body{
    display: flex;
    gap: 100px;
}
#tall {
    width: 380px;
    height: 100%;
    background-color: rgb(47, 45, 59) ;
    color: white;
     font-family: allerta;
}
#inn {
    margin-left: 50px ;
}
#inn img{
    margin-top: 20px ;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#tall h2, h3, h4 {
    color: rgb(216, 196, 83);
    margin: 70px 0 0 0;
   font-family: bebas neue;
}
#names h1 {
    font-family: bebas neue;
    color: rgb(47, 45, 59);
    font-size: 50px;
}
#names p {
    font-family: bebas neue;
    color: rgb(216, 196, 83);
    font-size: x-large;
}
#contacts {
    margin-top:65px ;
}
#contacts p i {
    color: rgb(216, 196, 83);
}
#young p {
    margin-top: 30px;
}
#tall h3{
    margin-top: 30px;
    font-family: bebas neue;
} 
#tall h4 {
    margin-top: 30px;
    font-family: bebas neue;
}
#name{
    display: flex;
    gap: 50px;
    margin-top: 30px;
}
#educat {
    display: flex;
   
    margin-top: 20px;
}
#educat p {
    font-family: allerta;
    color: rgb(37, 37, 58);
}
#educa h2 {
    color:rgb(216, 196, 83);
    font-family: bebas neue;
    margin-top: 30px;
    margin-bottom: 10px;
}

#notre h5 {
    color: rgb(49, 49, 61);
    font-family: allerta;
}

#three {
    display: flex;
    gap: 100px;
    margin-top: 20px;
 

   
}
#one {
    display: flex;
    gap: 100px;
    margin-top: 20px;

}
#two {
    display: flex;
    gap: 100px;
    margin-top: 20px;

}
#exp {
     margin-left: 53px;
}
#alo {
    margin-left: 80px;
}

#skills {
    margin-top: 30px;
}
#skills h2 {
    color: rgb(216, 196, 83);
    font-family: bebas neue;
    margin-top: 30px;
}

#skills p {
    color: rgb(49, 49, 61);
    font-family: allerta;
}
#skill{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}
#border {
    height: 5px;
    width: 260px;
    background-color: gray;
}
#bar{
    height: 100%;
    width: 100%;
    background-color: rgb(216, 196, 83) ; 
}
#cs {
    margin-left: 108px;
}
#js{
    margin-top: 30px;
}
#languages{
    color: rgb(49, 49, 61);
    font-family: allerta;
    margin-top: 30px;
}
#languages h2 {
    margin-top: 30px;
    color: rgb(216, 196, 83);
    font-family: bebas neue;
}
#lang{
   gap: 100px;
  
  display: flex;
  margin-top: 30px;
}
#kiny{
    margin-left: 122px; 
}
#refer {
    margin-top: 30px;
    font-family: allerta;
    color: rgb(49, 49, 61);
}
#refer h2{
    font-family: bebas neue;
    color: rgb(216, 196, 83);
}

#chem{
    margin-top: 30px;
}
#dire {
    margin-top: 30px;
}
#statement{
    margin-top: 30px;
    font-family: allerta;
    color: rgb(49, 49, 61);
}
#statement h2{
    font-family: bebas neue;
    color: rgb(216, 196, 83);
}
#statement p {
    margin-top: 30px;
}
#statement p span {
  color: rgb(216, 196, 83);
}